<div>
  <label for="category">Select Category</label>
  <select name="category" id="category" [(ngModel)]="SelectedCatID">
    <option *ngFor="let category of categoryList" [value]="category.ID">{{ category.Name }}</option>
  </select>
</div>
<!-- the ID of the category -->
<!-- <p>{{ SelectedCatID }}</p> -->

<div class="bg-info">
  <h4>for test view child </h4>
  <button class="btn btn-warning" (click)="getNewArrOfProd()">Get Products</button>
</div>

<!-- Child component -->
<products [receivedCatID]="SelectedCatID" (totalPriceChanged)="onTotalPriceChanged($event)"></products>



<div class="bg-success test">
  <!-- <p>{{ orderTotalPrice }}</p> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let prod of prodListOfCat">
        <tr >
          <!-- {{prod | json}} -->
          <td> {{ prod.Name }}</td>
          <td> {{ prod.Price }}</td>
          <td> {{ prod.Count }}</td>
          <td> {{prod.Count*prod.Price}}</td>
        </tr>
      </ng-container>
      <p>Total Price: {{recievedOrderTotalPrice }}</p>

    </tbody>
  </table>

</div>



















<!-- test view child  -->

<div>
  <label for="">Client Name</label>
  <!-- template ref (#clientName) -->
  <input type="text" class="form-control" name="username" id="username" #clientName>
</div>
