
<!-- Day 1 -->

<!-- <h1>Store : {{ store1.name }}</h1>
<img *ngIf="!IsPurshased" src="{{store1.img }}" alt="">
<div *ngIf="IsPurshased" class="container">
  <p>Thank You</p>
</div>
<h1>Category: {{ ICategory.ID }}</h1>
<button class="button bg-danger" (click)="handleBuyAction()">0</button>

<div *ngFor="let product of ProductList" >
  <p>Name {{ product.Name  }}</p>
  <p>{{ product.Price }}</p>
  <img src="{{ product.Img }}" alt="">

</div> -->
<!-- propertry binding  -->
<!-- <img [src]=" product.Img " alt=""> -->




<!-- Day 2 -->
<!-- <div>
  <label for="category">Select Category</label>
  <select name="category" id="category" [(ngModel)]="ICategory">
    <option *ngFor="let category of ICategory" [value]="category.Name">{{ category.Name }}</option>

  </select>
 -->

  <!-- <input type="text" className="form-control" name="category" id="category" [(ngModel)]="ICategory">
  <h2>{{ ICategory }}</h2> -->


<!-- </div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Img</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody>
    <!-- <ng-container *ngFor="let prod of ProductList,let i=index, trackBy:tracking "> -->
      <!-- day 3 filter product by ID -->
      <ng-container *ngFor="let prod of prdListOfCat ,let i=index, trackBy:tracking ">
        <!-- using property binding -->
      <!-- [hidden]="prod.Quantity==0"     -->
      <tr *ngIf="prod.Quantity>0" [class.bg-danger]="prod.Quantity==1" [class.text-light]="prod.Quantity==1"
        [style.background-color]="(prod.Quantity==3)?'lightyellow':'light'">
        <td>{{ prod.ID }}</td>
        <td>{{ prod.Name }}</td>
        <td><img [src]="prod.Img"></td>
        <!-- <td>{{ prod.Quantity }}</td> -->
        <td>
          <span *ngIf="prod.Quantity>0">{{ prod.Quantity }}</span>
          <span *ngIf="prod.Quantity==0">Out of Stock</span>
        </td>
        <td>{{ prod.Price | currency}}</td>
        <!-- <td><button class="button bg-info" type="button" [disabled]="prod.Quantity==0">Buy</button> -->
        <td><button class="button bg-info" type="button">Buy</button>
        </td>
      </tr>

    </ng-container>
  </tbody>


</table>
<div class="card m-5 p-2 text-center container " productCard>
  <img class="m-auto" src="../../../assets/—Pngtree—tree and roots logo_6977755.png" alt="" style="width: 200px;">

  <div class="card-body ">
    <h5 class="card-title">Phone</h5>
    <p class="card-text">their is nothing here </p>
    <p class="card-text">Go home</p>
    <a href="#" class="btn btn-primary">add to bag</a>
  </div>
</div>
<div class="container">
  <p>test date: <br><span>{{ todayDate }}</span> </p>
</div>
